{% extends 'base.html.twig' %}

{% block title %}Votre compte a bien été supprimé{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1>Compte supprimé</h1>
            <p>Votre compte et ses données ont bien été supprimés.</p>
        <hr>
        <a href="{{ path('site_index') }}" class="btn btn-dark"> Retourner à l'accueil</a>
        </div>
    </div>
{% endblock %}
