{% extends 'base.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5">
            <h1 class="mb-4">Modifier mon compte</h1>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-orange">{{ button_label|default('Modifier') }}</button>
            {{ form_end(form) }}
        <hr class="mt-5">
        <a href="{{ path('profile_show') }}" class="btn btn-dark"> Retourner au compte</a>
        </div>
    </div>
{% endblock %}
