{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container">
        <div class="py-5 flex">
            <h1 class="mb-4">Mon compte</h1>
            {% include 'utils/alert.html.twig' %}
            <h3>{{ app.user.fullName }} <small class="text-muted">#{{ app.user.id }}</small></h3>
            <ul>
                <li><strong>Email</strong> : {{ app.user.email }}</li>
                <li><strong>Téléphone</strong> : {{ app.user.phone }}</li>
                <li><strong>Adresse</strong> : {{ app.user.address }} - {{ app.user.zipCode }} {{ app.user.city }}</li>
                <li><strong>Date d'inscription</strong> : {{ app.user.registerAt|date('d-m-Y H:i:s') }}</li>
            </ul>

            {% if app.user.companyName is not empty %}
                <h3>Entreprise : {{ app.user.companyName }}</h3>
                <p>Siret: {{ app.user.siret ? app.user.siret : 'N/C' }}</p>
            {% endif %}
            <hr class="mt-5">
            <div class="d-flex">
            <a href="{{ path('profile_edit') }}" class=" btn btn-orange me-2">Modifier mon compte</a>
            <a href="{{ path('profile_edit_password') }}" class=" btn btn-secondary me-2">Modifier mon mot de passe</a>
            <form method="post" action="{{ path('profile_delete', {'id': app.user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer votre compte?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
                <button class="btn btn-danger">Supprimer mon compte</button>
            </form>
        </div>
    </div>
{% endblock %}
