{% extends 'base_admin.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
    <h2 class="my-4">Modifier un utilisateur</h2>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}" class="btn btn-dark me-2">Retour à la liste</a>
        {% if is_granted('USER_EDIT', user) %}
        {{ include('admin/user/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
