{% extends 'base_admin.html.twig' %}

{% block title %}{{ user.fullName }}{% endblock %}

{% block body %}
    <h2 class="my-4">{{ user.fullName }} <small class="text-muted">#{{ user.id }}</small></h2>
    <hr>
    <h3>Informations</h3>
    <ul>
        <li><strong>Email</strong> : {{ user.email }}</li>
        <li><strong>Téléphone</strong> : {{ user.phone }}</li>
        <li><strong>Adresse</strong> : {{ user.address }} - {{ user.zipCode }} {{ user.city }}</li>
        <li><strong>Date d'inscription</strong> : {{ user.registerAt|date('d-m-Y H:i:s') }}</li>
    </ul>

    {% if user.companyName is not empty %}
        <h2>Entreprise : {{ user.companyName }}</h2>
        <p>Siret: {{ user.siret ? user.siret : 'N/C' }}</p>
    {% endif %}

    <h3 class="mt-4">Rôle(s)</h3>
    <ul>
        {% for role in user.roles %}
            <li>{{ role }}</li>
        {% else %}
            <li>Utilisateur banni</li>
        {% endfor %}
    </ul>

    <h3 class="mt-4">Commentaire</h3>

    <p>{{ user.comment ? user.comment : 'Aucun commentaire' }}</p>

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}" class="btn btn-dark me-2">Retour à liste</a>
        {% if is_granted('USER_EDIT', user) %}
        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-warning me-2">Modifier</a>
        {% endif %}
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
