{% extends 'base.html.twig' %}

{% block title %}Fonctionnement{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center">
     <h1 class="display-4 fw-bold">Fonctionnement</h1>
        <div class="mx-auto">
        <p class="lead mb-4">Nos proposons des solutions clés en main adaptés à vos besoins en quelques clics. </p>
        </div>
    </div>

    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="mb-5 border-bottom pb-2 fw-bold">Les étapes pour réserver</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-start mb-2">
                    <i class="bi bi-pin-map fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Type de local</h4>
                        <p>Sélectionnez le type de local qui vous interesse</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-start mb-2">
                    <i class="bi bi-calendar-date fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Date</h4>
                        <p>Choisissez la date d'entrée et de sortie des lieux qui vous interessent</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4  d-flex align-items-start mb-2">
                    <i class="bi bi-lamp fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Ambiance</h4>
                        <p>Parmi les bureaux disponibles, choisissez celui dont l'ambiance vous plait</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-start mb-2">
                    <i class="bi bi-calendar-check fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Réservation</h4>
                        <p>D'un clic, validez votre réservation. Si besoin, faites nous part d'une demande particulière (sièges supplémentaires, vidéoprojecteur)</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-start mb-2">
                    <i class="bi bi-credit-card fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Paiement</h4>
                        <p>Payez en toute sécurité en ligne pour valider votre réservation</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-start mb-2">
                    <i class="bi bi-emoji-smile fs-2 me-3"></i>
                    <div>
                        <h4 class="fw-bold">Profitez</h4>
                        <p>Des boissons sont gratuitement mises à votre disposition dans la salle commune, il ne vous reste plus qu'à entrer le code de la porte et profiter de votre location !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container py-2">
            <h2 class="mb-5 border-bottom pb-2 fw-bold">Plan du site</h2>
            <img src="{{ asset('build/images/plan_rdc.png') }}" alt="Plan du rez-de-chaussée" class="img-fluid">
            <img src="{{ asset('build/images/plan_etage.png') }}" alt="Plan de l'étage" class="img-fluid">
        </div>
    </section>

{% endblock %}


