{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center">
     <h1 class="display-4 fw-bold">Contact</h1>
        <div class="mx-auto">
        <p class="lead mb-4">Contactez nous par mail ou passez dans nos locaux.</p>
        </div>
    </div>

    <section class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5">

                    {% include 'utils/alert.html.twig' %}

                    {# {{ form(contact_form) }} #}

                    {{ form_start(contact_form) }}
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(contact_form.name) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(contact_form.email) }}
                            </div>
                        </div>

                        {{ form_row(contact_form.subject) }}

                        {% if contact_form.date is defined %}
                            {{ form_row(contact_form.date) }}
                        {% endif %}

                        {{ form_rest(contact_form) }}

                        <button type="submit" class="btn btn-dark">{% trans %}contact.button{% endtrans %}</button>

                    {{ form_end(contact_form) }}
                </div>

                <div class="col-lg-4 ps-lg-5 mt-md-3">
                    <h2>Informations</h2>
                    <p class="mt-2"><i class="bi bi-person-fill fs-5"></i> <strong>Lucie Delavega</strong> <br>Co-dirigeant <br> <a href="tel:0476000001" class="link-secondary text-decoration-none">04 76 00 00 01</a></p>
                    <p><i class="bi bi-person-fill fs-5"></i> <strong>Mathieu Roserai</strong> <br> Responsable commercial <br> <a href="tel:0476000002" class="link-secondary text-decoration-none">04 76 00 00 02</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5">
        <div class="container mb-3">
            <div class="row">
                <div class="col-lg-8 mt-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d702.7467830505971!2d5.782368829188667!3d45.20759589869368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af594f118003f%3A0x94fb5b99de0d9f61!2s38240%20Meylan!5e0!3m2!1sfr!2sfr!4v1628064801944!5m2!1sfr!2sfr" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="col-lg-4 ps-lg-5 mt-5 simple-link">
                    <h2 class="text-orange mt-lg-1">Addresse</h2>
                    <address class="mt-2">
                        1 Chemin de la Trière<br>
                        entrée: boulevard du Taillefer<br>
                        38240 Meylan<br>
                        France
                    </address>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
 {{ encore_entry_script_tags('contactForm') }}
{% endblock %}


