{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center">
     <h1 class="display-4 fw-bold">1'Loc</h1>
        <div class="col-lg-6 mx-auto">
        <h3>2000m² de bureaux d'entreprise à Meylan</h3>
        <p class="lead mb-4">Réservez votre bureau de chez vous et venez travailler à l'heure que vous voulez!</p>
            <div class="justify-content-sm-center mb-5">
            <a href="{{ path('site_show_all_rooms') }}" title="Voir nos salles" class="btn btn-orange btn-lg">Voir nos salles</a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('build/images/hero1.png') }}" class="img-fluid mb-4" alt="Hero" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <section class="py-5 mb-5 bg-light">
        <div class="container py-3">
            <h2 class="mb-5 border-bottom pb-2 fw-bold">Un concept unique</h2>
            <div class="row text-center">
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-hand-thumbs-up fs-2"></i>
                            <h4 class="fw-bold pt-2">Simplicité</h4>
                            <p>Vous pouvez réserver votre bureau de chez vous en ligne.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-speedometer2 fs-2"></i>
                            <h4 class="fw-bold pt-2">Rapidité</h4>
                            <p>Vous n'avez pas besoin de récupérer une clé à l'accueil, un simple code suffira à accéder à votre bureau.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-sliders fs-2"></i>
                            <h4 class="fw-bold pt-2">Adaptabilité</h4>
                            <p>Les bureaux peuvent être personnalisés à l'image de votre entreprise.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card h-100 border-0 shadow">
                        <div class="card-body">
                            <i class="bi bi-clock fs-2"></i>
                            <h4 class="fw-bold pt-2">24h/24</h4>
                            <p>Votre bureau est accessible quand vous le souhaitez.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-5">
            <h2 class="mb-5 border-bottom pb-2 fw-bold">Des solutions qui s'adaptent à vous</h2>
            <div class="row">
                <figure class="col-lg-4 mb-5">
                    <img src="{{ asset('build/images/simple.jpg') }}" alt="simplicité" class="img-fluid rounded border-0 shadow">
                </figure>

                <article class="col-lg-7 mb-5 align-self-lg-center">
                    <h3 class="fw-bold">Simple et rapide</h3>
                    <p>Vous réservez en ligne votre bureau en toute simplicité.</p>
                    <p>Nous vous envoyons votre code et votre contrat de location par mail. Il ne vous reste plus qu’a profiter de votre bureau.</p>
                </article>

                <figure class="col-lg-4 mb-5">
                    <img src="{{ asset('build/images/jeunes-entrepreneurs.jpg') }}" alt="jeunes entrepreneurs" class="img-fluid rounded border-0 shadow">
                </figure>

                <article class="col-lg-7 mb-5 align-self-lg-center">
                    <h3 class="fw-bold">Pour vous, on s'occupe tout</h3>
                    <p>Oubliez les frais d’installation, les investissements en capital et autres inconvénients: nous <strong>vous soulageons</strong> du poids de la gestion immobilière.</p>
                    <p>Vous bénéficiez <strong>d’un contrat unique, d’un reporting simplifié</strong>, d’un chargé de compte dédié et d’une assistance 24h/24, 7j/7.</p>
                    <p>Augmentez ou réduisez l’espace de travail <strong>de manière flexible</strong>, en fonction de vos besoins actuels et futurs.</p>
                </article>

                <figure class="col-lg-4 mb-5 rounded-5">
                    <img src="{{ asset('build/images/adaptable.jpg') }}" alt="adaptable" class="img-fluid rounded border-0 shadow">
                </figure>

                <article class="col-lg-7 mb-5 align-self-lg-center">
                    <h3 class="fw-bold">Vous êtes uniques</h3>
                    <p>Nos espaces de travail professionnels et stimulants sont conçus pour convenir à <strong>toutes les entreprises et tous les budgets</strong>.</p>
                    <p>Nos bureaux sont modulables à volonté, si vous avez besoin d’un ordinateur ou d’un vidéoprojecteur, pas de problème nous nous occupons de tout.</p>
                </article>
            </div>
        </div>
    </section>

{% endblock %}
