{% extends "base.html.twig" %}

{% block title %}Réserver la salle{{ room.name }}{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <h1 class="mb-5">Réserver la salle {{ room.name }}</h1>

            {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.dateStart) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.dateEnd) }}
                    </div>
                </div>

                {{ form_row(form.comment) }}

                <button type="submit" class="btn btn-outline-dark">Réserver</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datetimepicker') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datetimepicker') }}
{% endblock %}