{% extends "base.html.twig" %}

{% block title %}Nos salles{% endblock %}

{% block body %}
    <div class="px-4 pt-5 my-5 text-center">
     <h1 class="display-4 fw-bold">Nos salles</h1>
        <div class="mx-auto">
        <p class="lead mb-4">Faites votre choix parmis <strong>nos 2000m²</strong> de locaux.</p>
        </div>
    </div>

    <section class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for room in rooms %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card m-1 p-1 h-100">
                            {% if room.images is not empty %}
                                <img src="{{ vich_uploader_asset(room.images[0]) }}" alt="{{ room.images[0].name }}" class="card-img-top">
                            {% else %}
                                <img src="{{ asset('build/images/image-placeholder.jpg') }}" alt="Salle" class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <p class="card-title h4">{{ room.name }} <a href="{{ path('site_show_category', {'slug': room.category.slug}) }}" class="h6"><span class="badge rounded-pill bg-secondary align-text-top">{{ room.category.name }}</span></a></p>
                                <p class="card-text">{{ room.description|u.truncate(140, ' [...]', true) }}</p>
                                <div class="d-flex justify-content-between">
                                    <p><i class="bi bi-person-bounding-box fs-5 pe-1"></i> {{ room.seat }}</p>
                                    <p><i class="bi bi-fullscreen fs-5 pe-1"></i> {{ room.surface }}m²</p>
                                    <p><i class="bi bi-credit-card fs-5 pe-1"></i> {{ room.price|number_format(2, ',', ' ') }}€ / HT</p>
                                </div>
                                <div class="d-grid mt-3">
                                    <a href="{{ path('site_show_room', {'slug': room.slug}) }}" title="Voir la salle" class="btn btn-outline-dark">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center pt-4 pb-2">
        {{ knp_pagination_render(rooms) }}
    </div>
{% endblock %}