{% extends "base.html.twig" %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-5">
                    <h1>{{ room.name }} <a href="{{ path('site_show_category', {'slug': room.category.slug}) }}" class="h6"><span class="badge rounded-pill bg-secondary align-text-top">{{ room.category.name }}</span></a></h1>
                    <p>{{ room.description }}</p>

                    <h2 class="mt-5">Informations</h2>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                            <th scope="row fw-bold">Nombre de siège</th>
                            <td>{{ room.seat }}</td>
                            </tr>
                            <tr>
                            <th scope="row fw-bold">Surface</th>
                            <td> {{ room.surface }} m²</td>
                            </tr>
                            <tr>
                            <th scope="row fw-bold">Prix</th>
                            <td>{{ room.price|number_format(2, ',', ' ') }}€ / HT</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 ms-lg-5 align-self-lg-center">
                    {% for image in room.images %}
                        <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.name }}" class="img-fluid shadow">
                    {% else %}
                        <img src="{{ asset('build/images/image-placeholder.jpg') }}" alt="Salle" class="img-fluid shadow">
                    {% endfor %}

                    {% if is_granted('IS_ANONYMOUS') %}
                    <div class="alert alert-danger mt-3">
                        <i class="bi bi-exclamation-diamond-fill fs-4 pe-1"></i> Vous devez être connecté pour réserver<br>
                        <a href="{{ path('app_login') }}" class="text-danger">Se connecter</a>
                    </div>
                    {% else %}
                    <div class="d-grid mt-3">
                        <a href="{{ path('site_room_reservation', {'slug': room.slug}) }}" class="btn btn-outline-dark">Réserver</a>
                    </div>
                    {% endif %}
                 </div>
            </div>
        </div>
    </div>
{% endblock %}
