<form method="post" action="{{ path('admin_reservation_cancel', {'id': reservation.id}) }}" onsubmit="return confirm('Voulez-vous vraiment annuler cette reservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('cancel' ~ reservation.id) }}">
    <button class="btn btn-danger">Annuler la réservation</button>
</form>
