{% extends 'base_admin.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <h2 class="mt-4">Liste des réservations</h2>

    <p>
        <a href="{{ path('admin_reservation_new') }}" class="btn btn-orange">Ajouter une réservation</a>
    </p>

    {% include 'utils/alert.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>Salle</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Clients</th>
                <th>{{ knp_pagination_sortable(reservations, 'Statut', 'r.statut') }}</th>
                <th>{{ knp_pagination_sortable(reservations, 'Total', 'r.total') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.room.name }}</td>
                <td>{{ reservation.dateStart|date('d-m-Y H:i') }}</td>
                <td>{{ reservation.dateEnd|date('d-m-Y H:i') }}</td>
                <td>{{ reservation.user.fullName }}</td>
                <td>
                    {% include 'utils/_reservation_status_badge.html.twig' %}
                </td>
                <td>{{ reservation.total|number_format(2, ',', ' ') }}</td>
                <td>
                    <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}"><i class="bi bi-search fs-5"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(reservations) }}
    </div>
{% endblock %}
