{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une nouvelle réservation{% endblock %}

{% block body %}
    <h2 class="mt-4">Ajouter une nouvelle réservation</h2>

    {{ include('admin/reservation/_form.html.twig') }}

    <hr class="mt-5">

    <a href="{{ path('admin_reservation_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datetimepicker') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('datetimepicker') }}
{% endblock %}