{% extends 'base_admin.html.twig' %}

{% block title %}Réservation #{{ reservation.id }}{% endblock %}

{% block body %}
    <h2 class="my-4">Réservation <small class="text-muted">#{{ reservation.id }}</small></h2>
    <hr>
    <h3>Informations</h3>
    <ul>
        <li><strong>Début</strong> : {{ reservation.dateStart|date('d-m-Y H:i') }}</li>
        <li><strong>Fin</strong> : {{ reservation.dateEnd|date('d-m-Y H:i') }}</li>
        <li><strong>Salle</strong> : {{ reservation.room.name }}</li>
        <li><strong>Prix</strong> {{ reservation.total|number_format(2, ',', ' ') }}€</li>
        <li><strong>Statut</strong>: {% include 'utils/_reservation_status_badge.html.twig' %}</li>
        <li><strong>Code</strong>: {{ reservation.code }}</li>
    </ul>
    <h3 class="mt-4">Client</h3>
    <address>
        {{ reservation.user.fullName }}<br>
        {{ reservation.user.companyName ? reservation.user.compagnyName : '' }}<br>
        {{ reservation.user.address }}<br>
        {{ reservation.user.zipCode }} - {{ reservation.user.city }}<br><br>
    </address>

    <h3 class="mt-4">Commentaires</h3>
    <p> {{ reservation.comment ? reservation.comment : 'n/c' }} </p>
    <p>
        <a href="{{ asset(reservation.invoice) }}" target="_blank" class="btn btn-orange"><i class="bi bi-download fs-5"></i> Télécharger la facture</a></p>

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_reservation_index') }}" class="btn btn-dark">Retour à liste</a>
        {% if is_granted('RESERVATION_CANCEL', reservation) %}
            {% include('admin/reservation/_cancel_form.html.twig') %}
        {% endif %}
    </div>
{% endblock %}
