{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">

        {% include 'utils/alert.html.twig' %}

        <h1 class="display-5 fw-bold mb-3">Réinitialiser mon mot de passe</h1>
            <p>
                <i class="bi bi-pencil-square fs-5"></i> Saisissez votre adresse mail pour recevoir le lien vous permettant de changer de mot de passe.
            </p>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div class="d-grid d-md-block">
                <button class="btn btn-dark mt-3">Envoyer</button>
            </div>
        {{ form_end(requestForm) }}
    </div>
</div>
{% endblock %}
