{% extends 'base.html.twig' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}

{% block body %}
<div class="py-5">
    <div class="container">
        <h1 class="display-5 fw-bold mb-3">Réinitialiser mon mot de passe</h1>

        {{ form_start(resetForm) }}
            {{ form_row(resetForm.password) }}
            <div class="d-grid d-md-block">
            <button class="btn btn-dark mt-3">Réinitialiser</button>
            </div>
        {{ form_end(resetForm) }}
    </div>
</div>
{% endblock %}
