{% extends 'admin/room/template_form.html.twig' %}

{% block title %}Modifier une salle{% endblock %}

{% block body %}
    <h2 class="my-4">Modifier une salle</h2>

    {{ include('admin/room/_form.html.twig', {'button_label': 'Modifier'}) }}

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_room_index') }}" class="btn btn-dark me-2">Retour à la liste</a>
        {{ include('admin/room/_delete_form.html.twig') }}
    </div>

{% endblock %}
