{% extends 'base_admin.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block body %}
    <h2 class="mt-4">Liste des salles</h2>

    <p>
        <a href="{{ path('admin_room_new') }}" class="btn btn-orange">Ajouter une salle</a>
    </p>

    {% include 'utils/alert.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(rooms, 'Nom', 'r.name') }}</th>
                <th>Catégorie</th>
                <th>{{ knp_pagination_sortable(rooms, 'Surface', 'r.surface') }}</th>
                <th>{{ knp_pagination_sortable(rooms, 'Place', 'r.seat') }}</th>
                <th>{{ knp_pagination_sortable(rooms, 'Prix', 'r.price') }}</th>
                <th>{{ knp_pagination_sortable(rooms, 'Statut', 'r.isActive') }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.category.name }}</td>
                <td>{{ room.surface }}</td>
                <td>{{ room.seat }}</td>
                <td>{{ room.price }}</td>
                <td><a href="{{ path('admin_room_switch_active', {'id': room.id}) }}" class="js-switch">
                {{ room.isActive ? '<span class="badge bg-success">Actif</span>' : '<span class="badge bg-danger">Inactif</span>' }} </a></td>
                <td>
                    <a href="{{ path('admin_room_show', {'id': room.id}) }}"><i class="bi bi-search fs-5"></i></a>
                    <a href="{{ path('admin_room_edit', {'id': room.id}) }}"><i class="bi bi-pencil-square fs-5"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(rooms) }}
    </div>
{% endblock %}
