{% extends 'admin/room/template_form.html.twig' %}

{% block title %}Ajouter une nouvelle salle{% endblock %}

{% block body %}
    <h2 class="my-4">Ajouter une nouvelle salle</h2>

    {{ include('admin/room/_form.html.twig') }}

    <hr class="mt-5">

    <a href="{{ path('admin_room_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
