{% extends 'base_admin.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <h2 class="my-4">{{ room.name }} <small class="text-muted">#{{ room.id }}</small></h2>
    <hr>
    <h3>Informations</h3>
    <ul>
        <li><strong>Catégorie</strong> : {{ room.category.name }}</li>
        <li><strong>Surface</strong> : {{ room.surface }}㎡</li>
        <li><strong>Place(s)</strong> : {{ room.seat }}</li>
        <li><strong>Prix</strong> {{ room.price }}€</li>
        <li><strong>Statut</strong>: {{ room.isActive ? '<span class="badge bg-success">Actif</span>' : '<span class="badge bg-danger">Inactif</span>' }}</li>
    </ul>
    <h3 class="mt-4">Description</h3>
    <p>{{ room.description }}</p>

    {% if room.images is not empty %}
        <h3 class="mt-4">Image(s)</h3>

        {% for image in room.images %}
            <img src="{{ vich_uploader_asset(image) }}" alt="{{ image.name }}" width="100">
        {% endfor %}

    {% endif %}

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_room_index') }}" class="btn btn-dark me-2">Retour à liste</a>
        <a href="{{ path('admin_room_edit', {'id': room.id}) }}" class="btn btn-warning me-2">Modifier</a>
        {{ include('admin/room/_delete_form.html.twig') }}
    </div>
{% endblock %}
