@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;

    .btn-orange{
        border: 1px solid #db7900;
        background-color: #e98917;
        color: #fff;
    }
    .btn-orange:hover{
        background-color: #fff;
        color: #e98917;
    }
    .text-link{
        color: #000;
    }
    .text-link:hover{
        color: #e98917;
    }
}

.vich-image img { width: 100px }

admin-logo{
    padding-left: 3px;
  }