{% extends 'base_admin.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block body %}
    <h1 class="display-5 fw-bold">Bienvenue sur l'espace d'administration</h1>
    <hr>
    <h2 class="mt-5">Plan du batiment</h2>

    <div class="js-map" data-reserved="{{ reserved }}">
        <div style="position: relative">
            <img src="{{ asset('build/images/plan_rdc.png') }}" alt="RDC" class="img-fluid" usemap="#rdc" id="p1">
        </div>

        <div style="position: relative">
            <img src="{{ asset('build/images/plan_etage.png') }}" alt="Etage" class="img-fluid" usemap="#etage" id="p2">
        </div>
    </div>

    <map name="rdc" id="rdc">
        <area alt="Bureau mini entreprise 3" data-nom="Gamma" coords="296,40,849,356" shape="rect">
        <area alt="Bureau mini entreprise 1" data-nom="Alpha" coords="294,458,848,781" shape="rect">
        <area alt="Bureau mini entreprise 4" data-nom="Deltaa" coords="1424,42,1977,355" shape="rect">
        <area alt="Bureau mini entreprise 2" data-nom="Beta" coords="1424,458,1980,778" shape="rect">
    </map>

    <map name="etage" id="etage">
        <area alt="Salle de réunion Archimède" data-nom="Archimède" coords="58,21,281,352" shape="rect">
        <area alt="Bureau d'équipe Descartes" data-nom="Descartes" coords="292,21,638,352" shape="rect">
        <area alt="Bureau individuel Curie" data-nom="Curie" coords="654,21,885,139" shape="rect">
        <area alt="Bureau individuel Einstein" data-nom="Einstein" coords="654,155,885,274" shape="rect">
        <area alt="Bureau individuel Newton" data-nom="Newton" coords="1001,21,1234,142" shape="rect">
        <area alt="Bureau individuel Galilée" data-nom="Galilée" coords="1001,155,1234,271" shape="rect">
        <area alt="Bureau d'équipe Faraday" data-nom="Faraday" coords="1248,21,1589,352" shape="rect">
        <area alt="Salle de réunion Kepler" data-nom="Kepler" coords="1599,21,1828,352" shape="rect">
        <area alt="Bureau individuel Pasteur" data-nom="Pasteur" coords="58,460,202,655" shape="rect">
        <area alt="Bureau individuel Edison" data-nom="Edison" coords="213,460,357,655" shape="rect">
        <area alt="Bureau individuel Lavoisier" data-nom="Lavoisier" coords="370,460,512,658" shape="rect">
        <area alt="Bureau individuel Copernic" data-nom="Copernic" coords="528,460,670,655" shape="rect">
        <area alt="Bureau individuel Darwin" data-nom="Darwin" coords="1061,460,1206,658" shape="rect">
        <area alt="Bureau individuel De Vinci" data-nom="De Vinci" coords="1219,460,1358,658" shape="rect">
        <area alt="Bureau individuel Hawkins" data-nom="Hawkins" coords="1374,460,1515,655" shape="rect">
        <area alt="Bureau individuel Tesla" data-nom="Tesla" coords="1531,460,1673,655" shape="rect">
        <area alt="Bureau individuel Nobel" data-nom="Nobel" coords="1686,460,1828,655" shape="rect">
        <area alt="Salle de réunion Ampère" data-nom="Ampère" coords="58,668,712,792" shape="rect">
        <area alt="Salle de réunion Fermi" data-nom="Fermi" coords="1171,668,1828,794" shape="rect">
    </map>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
