{% extends 'base_admin.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h2 class="mt-4">Modifier une catégorie</h2>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <hr class="mt-5">

    <div class="d-flex">
        <a href="{{ path('admin_category_index') }}" class="btn btn-dark me-2">Retour à la liste</a>
        {{ include('admin/category/_delete_form.html.twig') }}
    </div>

{% endblock %}
