{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie{% endblock %}

{% block body %}
    <h2 class="mt-4">Ajouter une nouvelle catégorie</h2>

    {{ include('admin/category/_form.html.twig') }}

    <hr class="mt-5">

    <a href="{{ path('admin_category_index') }}" class="btn btn-dark">Retour à la liste</a>
{% endblock %}
