<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Metatags -->
        <meta name="title" content="1'Loc">
        <meta name="description" content="1'Loc, réservez en ligne votre bureau en toute simplicité!">
        <meta name="author" content="Déb Phoenix">
        <meta name="language" content="fr">
        <meta name="keywords" content="louer, location, local, locaux, bureau, réserver, réservation, en ligne">
        <meta name="robots" content="index,follow">
        <meta name="copyright" content="Déb Phoenix">

        <title>{% block title %}{% endblock %} - 1'Loc</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a href="{{ path('site_index') }}" class="navbar-brand">
                <img src="{{ asset('build/images/logo.png') }}" alt="1Loc" width="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Ouvre la navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="{{ path('site_index') }}" class="nav-link text-uppercase fw-bold pe-2 {{ active('index') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_show_all_rooms') }}" class="nav-link text-uppercase fw-bold pe-2 {{ active('site_show_all_rooms') }}">Nos salles</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_about') }}" class="nav-link text-uppercase fw-bold pe-2 {{ active('about') }}">Fonctionnement</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('site_contact') }}" class="nav-link text-uppercase fw-bold pe-5 {{ active('contact') }}">Contact</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-2 mb-2 mb-lg-0">
                        {% if is_granted('IS_ANONYMOUS') %}
                            <li class="nav-item">
                                <a href="{{ path('app_register') }}" class="nav-link {{ active('register') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ path('app_login') }}" class="nav-link {{ active('login') }}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.fullName }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a href="{{ path('profile_show') }}" class="dropdown-item">Mon compte</a></li>
                                    <li><a href="{{ path('profile_reservation') }}" class="dropdown-item">Mes réservations</a></li>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_index') }}" class="dropdown-item">Administration</a></li>
                                    {% endif %}
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a href="{{ path('app_logout') }}" class="dropdown-item">Deconnexion</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <main style="min-height: 75vh;">
            {% block body %}{% endblock %}
        </main>

        <footer class="">
            <div class="container py-4">
                <div class="d-flex justify-content-between border-bottom">
                <p>2022 &copy; 1'Loc.</p>
                <p><a href="#"><i class="bi bi-arrow-up-square fs-5 text-link"></i></a></p>
                <p><a href="#" title="Page Facebook" target="_blank" class="link-dark"><i class="bi bi-facebook"></i></a> <a href="#" title="Compte Twitter" target="_blank" class="link-dark"><i class="bi bi-twitter"></i></a> <a href="#" title="Feed Instagram" target="_blank" class="link-dark"><i class="bi bi-instagram"></i></a></p>
                </div>
                <div class="text-center text-muted mt-3">
                    <p><a href="#" title="Conditions générales de vente" class="link-secondary text-decoration-none">CGV</a> -
                        <a href="{{ path('site_legals') }}" title="Mentions légales" class="link-secondary text-decoration-none">Mentions légales</a> -
                        <a href="#" title="Politique de confidentialité" class="link-secondary text-decoration-none">Politique de confidentialité</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
