<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - 1'Loc</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        {{ encore_entry_link_tags('admin') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('admin') }}
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <div class="d-flex" style="min-height: 100vh;">
            <div class="d-flex flex-column flex-shrink-0 bg-dark me-5" text-white bg-dark style="width: 3rem;">
                <a href="{{ path('site_index') }}" class="d-block ps-2 py-4 link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" title="Retour au site">
                <img src="{{ asset('favicon.png') }}" alt="1Loc" class="admin-logo">
                </a>
                <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
                <li class="nav-item">
                    <a href="{{ path('admin_index') }}" class="nav-link text-white {{ active('admin_index') }} py-2 border-bottom" title="Accueil" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-house-door"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_room_index') }}" class="nav-link text-white {{ active('room') }} py-2 border-bottom" title="Salles" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-pin-map"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_category_index') }}" class="nav-link text-white {{ active('category') }} py-2 border-bottom" title="Catégories" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-tag"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_reservation_index') }}" class="nav-link text-white {{ active('reservation') }} py-2 border-bottom" title="Réservations" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-calendar-check"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_user_index') }}" class="nav-link text-white {{ active('user') }} py-2 border-bottom" title="Utilisateurs" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-people"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_stat') }}" class="nav-link text-white {{ active('stat') }} py-2 border-bottom" title="Statistiques" data-bs-toggle="tooltip" data-bs-placement="right">
                    <i class="bi bi-graph-up-arrow"></i>
                    </a>
                </li>
                </ul>
                <div class="dropup border-top">
                    <a href="#" class="d-flex align-items-center justify-content-center p-2 text-white text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i>
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                        <li><a class="dropdown-item" href="{{ path('profile_show') }}">Mon compte</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    </ul>
                </div>
            </div>

            <main class="py-3 me-5" style="width: 100%;">
                {% block body %}{% endblock %}
                <div class="py-4 d-flex justify-content-center">
                    <p><a href="#"><i class="bi bi-arrow-up-square fs-5 text-link"></i></a></p>
                </div>
            </main>
        </div>
    </body>
</html>
