{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container py-5">
    <h1 class="display-5 fw-bold mb-3">Inscription</h1>

    {% include 'utils/alert.html.twig' %}

    <h5 class="mb-5">Les champs avec une '*' sont obligatoires.</h5>

    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(registrationForm.firstName) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.lastName) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.phone) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.companyName) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.siret) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.address) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(registrationForm.zipCode) }}
            </div>
            <div class="col-lg-3">
                {{ form_row(registrationForm.city) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.password.first) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(registrationForm.password.second) }}
            </div>
        </div>

        {{ form_row(registrationForm.agreeTerms) }}
        <div class="d-grid d-md-block">
            <button class="btn btn-dark mt-4 mt-4" type="submit" type="button">S'inscrire</button>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}