{% extends "base.html.twig" %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container">
            <h1>Page introuvable</h1>
            <a href="{{ path('site_index') }}" title="Retour à l'accueil" class="btn btn-primary btn-lg">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}


